@model StudentCourseViewModel


<hr />

<h3>Student List</h3>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Enrollment Date</th>
			<th>Action1</th>
			<th>Action2</th>
			<th>Action3</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model.Students)
		{
		<tr>
			<td>@student.FullName</td>
			<td>@student.Email</td>
			<td>@student.Gender</td>
			<td>@student.EnrollmentDate</td>
			<td><a asp-controller="Student" asp-action="Detail" asp-route-id="@student.StudentId">Detail</a></td>
			<td><a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId">Edit</a></td>
			<td><a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId">Delete</a></td>
		</tr>
		}
	</tbody>
</table>

