@model CourseTestViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}
	@{
		ViewBag.Title = "Manage Course";
	}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Clean Blog - Start Bootstrap Theme</title>
		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom fonts for this template -->
		<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!-- Custom styles for this template -->
		<link href="css/clean-blog.min.css" rel="stylesheet">
	</head>
	<body>
		<!-- Page Header -->
		<header class="masthead" style="background-image: url('../images/contact-bg.jpg')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<div class="page-heading">
							<h1>Manage Class</h1>
							<span class="subheading">Update Class</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Main Content -->
		<div class="form-group col-md-4">
			<label>Course Name</label>
			<p class="help-block text-danger"></p>
			<select id="className" class="form-control" asp-items="@(new SelectList(Model.AllCourses, "Id", "Text"))"></select>
		</div>

		<div class="form-group col-md-4">
				<label>Teacher Name</label>
				<p class="help-block text-danger"></p>
				<select id="teacherName" class="form-control" asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Text"))"></select>
		</div>
		<div class="form-group col-md-4">
			<button id="editBtn" type="button" class="btn btn-primary" onclick="update()">Edit</button>
		</div>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>
		<!-- Custom scripts for this template -->
		<script src="js/clean-blog.min.js"></script>

		<div id="showResult"></div>
	</body>

<script>
	$("#className").change(function () {
		var id = this.value;

		$.ajax({
			type: 'POST',
			url: '@Url.Action("GetCascadingClasses", "HomeAPI")?id=' + id,
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			headers:
			{
				"RequestVerificationToken": '@GetAntiXsrfRequestToken()'
			},
			success: function (teachers) {
				$("#teacherName").html(""); // clear before appending new list
				$("#teacherName").append(
					$('<option>-- Select --</option>').val(0));
				$.each(teachers, function (i, teachers) {
					$("#teacherName").append(
						$('<option></option>').val(teachers).html(teachers));
				});
			}
		});
	});

	function update() {
		var data = {
			teacherName: $('#teacherName').val(),
			courseName: $('#className').val()
		};
		$.ajax({
			type: 'POST',
			url: '@Url.Action("CourseUpdate", "Home")',
			contentType: 'application/json; charset=utf-8',
			dataType: 'html',
			data: JSON.stringify(data),
			headers:
			{
				"RequestVerificationToken": '@GetAntiXsrfRequestToken()'
			},
			success: function (result) {
				$('#showResult').html('');
				$('#showResult').html(result);
			},
			error: function () {
				alert("error");
			}
		});
	}
</script>
